RCMETERING_SERVER_HOST="localhost"
RCMETERING_SERVER_PORT="8000"
RCMETERING_LOGGER_LEVEL="info"
RCMETERING_LOGGER_MODE="dev"
RCMETERING_LOGGER_LOGFILE="rcmetering.log"
RCMETERING_KAFKA_BOOTSTRAP_SERVERS="localhost:19092"
RCMETERING_KAFKA_RAW_EVENTS_TOPIC="rc_events_queue"
RCMETERING_KAFKA_SECURITY_PROTOCOL=""
RCMETERING_KAFKA_SASL_MECHANISMS=""
RCMETERING_KAFKA_USERNAME=""
RCMETERING_KAFKA_PASSWORD=""
RCMETERING_POSTGRES_HOST="localhost"
RCMETERING_POSTGRES_PORT="5432"
RCMETERING_POSTGRES_USER="redcardinal"
RCMETERING_POSTGRES_PASSWORD="redcardinal"
RCMETERING_POSTGRES_DATABASE="rcmetering"
RCMETERING_CLICKHOUSE_HOST="localhost"
RCMETERING_CLICKHOUSE_PORT="9000"
RCMETERING_CLICKHOUSE_USER="default"
RCMETERING_CLICKHOUSE_PASSWORD="default"
RCMETERING_CLICKHOUSE_DATABASE="redcardinal"
